

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');




h1 {
font-size: xx-large;
   color: rgb(5, 4, 3); 
   background-color: rgba(12, 109, 116, 0.226);
   padding: 10px;
   text-align: left;
   margin: 5px 0px
}
 .edita {
    display: flex;
    justify-content: end;
     }

h2{
    color: rgb(0, 0, 0);
    background-color: rgb(12, 109, 116, 0.226);
    text-align: left; 
    padding: 10px;
    margin: 2px 0px
    ;
    
}
body {
    background-color: rgb(255, 255, 255);
    font-family: 'Croissant One', cursive;
    
}
.teste{
    color: rgb(18, 19, 18);
}

.dados {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
 .foto_teste{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* position: absolute;
    left: 1350px;
    top: 70px; */
 }
 /* .abc{
    margin: 100px 0px;
 } */
 .texto{
    top: 80;
 }
 .ajustes{
    padding: 10px;
 }
 .icones{
    width: 30px;
    height: 30px;
 }